In [12]:
%matplotlib notebook
import os
import csv
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [13]:
# Take in Glassdoor data and read it into pandas
glassdoor_62017 = "Resources/LPR_data-2017-06.csv"
glassdoor_72017 = "Resources/LPR_data-2017-07.csv"
glassdoor_82017 = "Resources/LPR_data-2017-08.csv"
glassdoor_92017 = "Resources/LPR_data-2017-09.csv"
glassdoor_102017 = "Resources/LPR_data-2017-10.csv"
glassdoor_112017 = "Resources/LPR_data-2017-11.csv"
glassdoor_122017 = "Resources/LPR_data-2017-12.csv"

glassdoor_12018 = "Resources/LPR_data-2018-01.csv"
glassdoor_22018 = "Resources/LPR_data-2018-02.csv"
glassdoor_32018 = "Resources/LPR_data-2018-03.csv"
glassdoor_42018 = "Resources/LPR_data-2018-04.csv"
glassdoor_52018 = "Resources/LPR_data-2018-05.csv"
glassdoor_62018 = "Resources/LPR_data-2018-06.csv"
glassdoor_72018 = "Resources/LPR_data-2018-07.csv"
glassdoor_82018 = "Resources/LPR_data-2018-08.csv"
glassdoor_92018 = "Resources/LPR_data-2018-09.csv"
glassdoor_102018 = "Resources/LPR_data-2018-10.csv"
glassdoor_112018 = "Resources/LPR_data-2018-11.csv"
glassdoor_122018 = "Resources/LPR_data-2018-12.csv"

glassdoor_12019 = "Resources/LPR_data-2019-01.csv"
glassdoor_22019 = "Resources/LPR_data-2019-02.csv"

#created a dataframe for each csv file
glassdoor_62017_df = pd.read_csv(glassdoor_62017, encoding="utf-8")
glassdoor_72017_df = pd.read_csv(glassdoor_72017,encoding="utf-8")
glassdoor_82017_df = pd.read_csv(glassdoor_82017,encoding="utf-8")
glassdoor_92017_df = pd.read_csv(glassdoor_92017,encoding="utf-8")
glassdoor_102017_df = pd.read_csv(glassdoor_102017,encoding="utf-8")
glassdoor_112017_df = pd.read_csv(glassdoor_112017,encoding="utf-8")
glassdoor_122017_df = pd.read_csv(glassdoor_122017,encoding="utf-8")
glassdoor_12018_df = pd.read_csv(glassdoor_12018,encoding="utf-8")
glassdoor_22018_df = pd.read_csv(glassdoor_22018,encoding="utf-8")
glassdoor_32018_df = pd.read_csv(glassdoor_32018,encoding="utf-8")
glassdoor_42018_df = pd.read_csv(glassdoor_42018,encoding="utf-8")
glassdoor_52018_df = pd.read_csv(glassdoor_52018,encoding="utf-8")
glassdoor_62018_df = pd.read_csv(glassdoor_62018,encoding="utf-8")
glassdoor_72018_df = pd.read_csv(glassdoor_72018,encoding="utf-8")
glassdoor_82018_df = pd.read_csv(glassdoor_82018,encoding="utf-8")
glassdoor_92018_df = pd.read_csv(glassdoor_92018,encoding="utf-8")
glassdoor_102018_df = pd.read_csv(glassdoor_102018,encoding="utf-8")
glassdoor_112018_df = pd.read_csv(glassdoor_112018,encoding="utf-8")
glassdoor_122018_df = pd.read_csv(glassdoor_122018,encoding="utf-8")
glassdoor_12019_df = pd.read_csv(glassdoor_12019,encoding="utf-8")
glassdoor_22019_df = pd.read_csv(glassdoor_22019,encoding="utf-8")

In [17]:
glassdoor_df = glassdoor_62017_df.append([glassdoor_72017_df,glassdoor_82017_df,glassdoor_92017_df,glassdoor_102017_df,glassdoor_112017_df,glassdoor_122017_df,glassdoor_12018_df,glassdoor_22018_df,glassdoor_32018_df,glassdoor_42018_df,glassdoor_52018_df,glassdoor_62018_df,glassdoor_72018_df,glassdoor_82018_df,glassdoor_92018_df,glassdoor_102018_df,glassdoor_112018_df,glassdoor_122018_df,glassdoor_12019_df,glassdoor_22019_df])
glassdoor_df.to_csv("Resources/glassdoor_compiled.csv", encoding="utf-8", index=True, header=True)

In [10]:
#create month and yr int columns
glassdoor_df["mnth"]=glassdoor_df["Month"].str.split('-', expand=False).str[1].astype(str).astype(int)
glassdoor_df["yr"]=glassdoor_df["Month"].str.split('-', expand=False).str[0].astype(str).astype(int)
# df['Col2'] = df['Col1'].str.split('_').str[1]
glassdoor_df.head()

,Metro,Dimension Type,Month,Dimension,Measure,Value,YoY,mnth,yr
0,National,Quick Facts,2017-06,U.S. Median Pay,U.S. Median Pay,51324.0,0.017,6,2017
1,Atlanta,Quick Facts,2017-06,Metro Median Pay,Metro Median Pay,52763.0,0.009,6,2017
2,Atlanta,Quick Facts,2017-06,U.S. Median Pay,U.S. Median Pay,51324.0,0.017,6,2017
3,Atlanta,Quick Facts,2017-06,Job Openings,Job Openings,103189.0,0.119,6,2017
4,Atlanta,Quick Facts,2017-04,Labor Force Size,Labor Force Size,3008943.0,0.033,4,2017

In [5]:
# Split massive dataframe into separate dataframes for:
# Job Title
# Company Size
# Industry
# Timeseries
# Quick Facts
glassdoor_job_title = glassdoor_df[glassdoor_df['Dimension Type']=='Job Title']
glassdoor_company_size = glassdoor_df[glassdoor_df['Dimension Type']=='Company Size']
glassdoor_industry = glassdoor_df[glassdoor_df['Dimension Type']=='Industry']
glassdoor_timeseries = glassdoor_df[glassdoor_df['Dimension Type']=='Timeseries']
glassdoor_quick_facts = glassdoor_df[glassdoor_df['Dimension Type']=='Quick Facts']
glassdoor_job_title.head()

,Metro,Dimension Type,Month,Dimension,Measure,Value,YoY,mnth,yr
67,National,Job Title,2017-06,Software Engineer,Median Base Pay,85880.0,0.028,6,2017
68,National,Job Title,2017-06,Programmer Analyst,Median Base Pay,67889.0,0.026,6,2017
69,National,Job Title,2017-06,Consultant,Median Base Pay,71306.0,0.006,6,2017
70,National,Job Title,2017-06,Project Manager,Median Base Pay,72571.0,0.004,6,2017
71,National,Job Title,2017-06,Store Manager,Median Base Pay,48199.0,0.028,6,2017

In [6]:
glassdoor_company_size.reset_index(drop=True,inplace=True)
glassdoor_industry.reset_index(drop=True,inplace=True)
glassdoor_timeseries.reset_index(drop=True,inplace=True)
glassdoor_quick_facts.reset_index(drop=True,inplace=True)
glassdoor_job_title.reset_index(drop=True,inplace=True)

In [7]:
#change pandas setting so that it displays up to 100 rows without shortening the data frame
pd.set_option('display.max_rows', 100)
#create list of job titles for people to choose from
job_titles = pd.DataFrame(glassdoor_job_title["Dimension"].unique())
job_titles = job_titles.rename(columns={0:"Job Titles"})
job_titles.sort_values(["Job Titles"],inplace = True)
job_titles.reset_index(drop=True,inplace = True)
job_titles
# print(job_titles.to_string())
# # job_titles.sort()
# metro_areas = glassdoor_job_title["Metro"].unique()
# metro_areas.sort()

                         Job Titles
0                        Accountant
1          Administrative Assistant
2                          Attorney
3                       Bank Teller
4                           Barista
5                         Bartender
6                  Business Analyst
7      Business Development Manager
8                             Buyer
9                           Cashier
10      Certified Nursing Assistant
11                   Civil Engineer
12                  Claims Adjuster
13           Communications Manager
14             Construction Laborer
15                       Consultant
16         Customer Service Manager
17  Customer Service Representative
18                     Data Analyst
19                   Data Scientist
20                  Delivery Driver
21                  Design Engineer
22              Electrical Engineer
23     Emergency Medical Technician
24                   Field Engineer
25                Financial Advisor
26                Financial Analyst
27                 Graphic Designer
28          Human Resources Manager
29                       IT Manager
30                  Insurance Agent
31                   Java Developer
32         Licensed Practical Nurse
33                     Loan Officer
34                 Machine Operator
35           Maintenance Technician
36               Maintenance Worker
37           Manufacturing Engineer
38                Marketing Manager
39                 Material Handler
40              Mechanical Engineer
41                Medical Assistant
42             Medical Technologist
43                 Network Engineer
44                   Office Manager
45               Operations Analyst
46               Operations Manager
47                        Paralegal
48                       Pharmacist
49              Pharmacy Technician
50               Physical Therapist
51                 Process Engineer
52                         Producer
53                  Product Manager
54               Production Manager
55                        Professor
56                  Program Manager
57               Programmer Analyst
58                  Project Manager
59                 Property Manager
60                 Quality Engineer
61                        Recruiter
62                 Registered Nurse
63               Research Assistant
64                  Restaurant Cook
65               Restaurant Manager
66                Retail Key Holder
67                    Sales Manager
68             Sales Representative
69                 Security Officer
70                           Server
71                Software Engineer
72              Solutions Architect
73                    Store Manager
74                 Systems Engineer
75                      Tax Manager
76                          Teacher
77                 Technical Editor
78                Technical Support
79                       Technician
80                     Truck Driver
81                      UX Designer
82              Warehouse Associate
83                     Web Designer
84                    Web Developer

In [8]:
#print out list of cities
cities = glassdoor_job_title["Metro"].unique()
print(f"Your city options are{cities}")

Your city options are['National' 'Atlanta' 'New York City' 'Los Angeles' 'Philadelphia'
 'Houston' 'Seattle' 'San Francisco' 'Chicago' 'Boston' 'Washington DC']

In [9]:
#create a data frame sorted by job title
job_df = pd.DataFrame(glassdoor_job_title)
job_df.rename(columns={"Dimension":"Job Titles"},inplace = True)
job_df.sort_values("Job Titles")

,Metro,Dimension Type,Month,Job Titles,Measure,Value,YoY,mnth,yr
13281,Los Angeles,Job Title,2018-08,Accountant,Median Base Pay,62423.0,0.031,8,2018
2949,Atlanta,Job Title,2017-09,Accountant,Median Base Pay,56332.0,0.016,9,2017
6561,National,Job Title,2018-01,Accountant,Median Base Pay,55199.0,0.000,1,2018
1521,Seattle,Job Title,2017-07,Accountant,Median Base Pay,61731.0,0.015,7,2017
13365,Philadelphia,Job Title,2018-08,Accountant,Median Base Pay,59403.0,0.030,8,2018
6477,Washington DC,Job Title,2017-12,Accountant,Median Base Pay,64662.0,0.013,12,2017
6393,Boston,Job Title,2017-12,Accountant,Median Base Pay,62535.0,0.016,12,2017
17397,Chicago,Job Title,2018-12,Accountant,Median Base Pay,60964.0,0.018,12,2018
9753,Houston,Job Title,2018-04,Accountant,Median Base Pay,60241.0,0.023,4,2018
13449,Houston,Job Title,2018-08,Accountant,Median Base Pay,60232.0,0.021,8,2018
17313,San Francisco,Job Title,2018-12,Accountant,Median Base Pay,73188.0,0.037,12,2018
6309,Chicago,Job Title,2017-12,Accountant,Median Base Pay,59643.0,0.004,12,2017
1605,San Francisco,Job Title,2017-07,Accountant,Median Base Pay,70635.0,0.015,7,2017
13533,Seattle,Job Title,2018-08,Accountant,Median Base Pay,63469.0,0.028,8,2018
6225,San Francisco,Job Title,2017-12,Accountant,Median Base Pay,70912.0,0.018,12,2017
10761,Seattle,Job Title,2018-05,Accountant,Median Base Pay,62806.0,0.028,5,2018
6645,Atlanta,Job Title,2018-01,Accountant,Median Base Pay,56839.0,0.009,1,2018
1437,Houston,Job Title,2017-07,Accountant,Median Base Pay,59005.0,-0.004,7,2017
13197,New York City,Job Title,2018-08,Accountant,Median Base Pay,64442.0,0.030,8,2018
1269,Los Angeles,Job Title,2017-07,Accountant,Median Base Pay,60344.0,0.002,7,2017
7065,Seattle,Job Title,2018-01,Accountant,Median Base Pay,62186.0,0.002,1,2018
12945,Washington DC,Job Title,2018-07,Accountant,Median Base Pay,65545.0,0.027,7,2018
6981,Houston,Job Title,2018-01,Accountant,Median Base Pay,59122.0,-0.005,1,2018
13029,National,Job Title,2018-08,Accountant,Median Base Pay,56982.0,0.030,8,2018
6897,Philadelphia,Job Title,2018-01,Accountant,Median Base Pay,57532.0,-0.005,1,2018
10845,San Francisco,Job Title,2018-05,Accountant,Median Base Pay,72592.0,0.039,5,2018
1353,Philadelphia,Job Title,2017-07,Accountant,Median Base Pay,57934.0,0.010,7,2017
17481,Boston,Job Title,2018-12,Accountant,Median Base Pay,63855.0,0.029,12,2018
13113,Atlanta,Job Title,2018-08,Accountant,Median Base Pay,58276.0,0.029,8,2018
6813,Los Angeles,Job Title,2018-01,Accountant,Median Base Pay,61170.0,0.006,1,2018
9669,Philadelphia,Job Title,2018-04,Accountant,Median Base Pay,58843.0,0.014,4,2018
19152,San Francisco,Job Title,2019-02,Accountant,Median Base Pay,73288.0,0.025,2,2019
261,Los Angeles,Job Title,2017-06,Accountant,Median Base Pay,60496.0,0.009,6,2017
6729,New York City,Job Title,2018-01,Accountant,Median Base Pay,63273.0,0.008,1,2018
18816,Los Angeles,Job Title,2019-02,Accountant,Median Base Pay,62735.0,0.024,2,2019
13617,San Francisco,Job Title,2018-08,Accountant,Median Base Pay,72637.0,0.037,8,2018
6141,Seattle,Job Title,2017-12,Accountant,Median Base Pay,62308.0,0.014,12,2017
17229,Seattle,Job Title,2018-12,Accountant,Median Base Pay,63890.0,0.025,12,2018
17061,Philadelphia,Job Title,2018-12,Accountant,Median Base Pay,58981.0,0.021,12,2018
14121,New York City,Job Title,2018-09,Accountant,Median Base Pay,64838.0,0.032,9,2018
177,New York City,Job Title,2017-06,Accountant,Median Base Pay,62981.0,0.015,6,2017
5553,Washington DC,Job Title,2017-11,Accountant,Median Base Pay,64355.0,0.007,11,2017
5469,Boston,Job Title,2017-11,Accountant,Median Base Pay,62464.0,0.016,11,2017
18648,Atlanta,Job Title,2019-02,Accountant,Median Base Pay,58695.0,0.022,2,2019
1941,National,Job Title,2017-08,Accountant,Median Base Pay,55578.0,0.019,8,2017
14205,Los Angeles,Job Title,2018-09,Accountant,Median Base Pay,62775.0,0.031,9,2018
9921,San Francisco,Job Title,2018-04,Accountant,Median Base Pay,72001.0,0.035,4,2018
16977,Los Angeles,Job Title,2018-12,Accountant,Median Base Pay,62466.0,0.023,12,2018
5385,Chicago,Job Title,2017-11,Accountant,Median Base Pay,59813.0,0.010,11,2017
14289,Philadelphia,Job Title,2018-09,Accountant,Median Base Pay,59740.0,0.030,9,2018
...,...,...,...,...,...,...,...,...,...
5318,San Francisco,Job Title,2017-11,Web Developer,Median Base Pay,99316.0,0.022,11,2017
5486,Boston,Job Title,2017-11,Web Developer,Median Base Pay,84031.0,0.022,11,2017
7334,Boston,Job Title,2018-01,Web Developer,Median Base Pay,83535.0,0.036,1,2018
7418,Washington DC,Job Title,2018-01,Web Developer,Median Base Pay,84866.0,0.038,1,2018
7502,National,Job Title,2018-02,Web Developer,Median Base Pay,65013.0,0.032,2,2018
9518,New York City,Job Title,2018-04,Web Developer,Median Base Pay,85442.0,0.045,4,2018
9602,Los Angeles,Job Title,2018-04,Web Developer,Median Base Pay,80834.0,0.040,4,2018
9686,Philadelphia,Job Title,2018-04,Web Developer,Median Base Pay,72560.0,0.043,4,2018
9770,Houston,Job Title,2018-04,Web Developer,Median Base Pay,73512.0,0.052,4,2018
9854,Seattle,Job Title,2018-04,Web Developer,Median Base Pay,88399.0,0.052,4,2018
9938,San Francisco,Job Title,2018-04,Web Developer,Median Base Pay,100810.0,0.065,4,2018
10022,Chicago,Job Title,2018-04,Web Developer,Median Base Pay,76697.0,0.034,4,2018
10106,Boston,Job Title,2018-04,Web Developer,Median Base Pay,85016.0,0.042,4,2018
10190,Washington DC,Job Title,2018-04,Web Developer,Median Base Pay,86337.0,0.047,4,2018
18983,Philadelphia,Job Title,2019-02,Web Developer,Median Base Pay,71913.0,0.022,2,2019
10274,National,Job Title,2018-05,Web Developer,Median Base Pay,66676.0,0.047,5,2018
10358,Atlanta,Job Title,2018-05,Web Developer,Median Base Pay,77436.0,0.051,5,2018
10442,New York City,Job Title,2018-05,Web Developer,Median Base Pay,87128.0,0.059,5,2018
10526,Los Angeles,Job Title,2018-05,Web Developer,Median Base Pay,82041.0,0.053,5,2018
10610,Philadelphia,Job Title,2018-05,Web Developer,Median Base Pay,73154.0,0.053,5,2018
10694,Houston,Job Title,2018-05,Web Developer,Median Base Pay,74347.0,0.053,5,2018
10778,Seattle,Job Title,2018-05,Web Developer,Median Base Pay,89187.0,0.060,5,2018
10862,San Francisco,Job Title,2018-05,Web Developer,Median Base Pay,102950.0,0.070,5,2018
10946,Chicago,Job Title,2018-05,Web Developer,Median Base Pay,77847.0,0.046,5,2018
9434,Atlanta,Job Title,2018-04,Web Developer,Median Base Pay,76410.0,0.046,4,2018
9350,National,Job Title,2018-04,Web Developer,Median Base Pay,65414.0,0.039,4,2018
18563,Washington DC,Job Title,2019-01,Web Developer,Median Base Pay,86441.0,0.017,1,2019
9182,Boston,Job Title,2018-03,Web Developer,Median Base Pay,85022.0,0.045,3,2018
7586,Atlanta,Job Title,2018-02,Web Developer,Median Base Pay,77776.0,0.040,2,2018
7670,New York City,Job Title,2018-02,Web Developer,Median Base Pay,85780.0,0.041,2,2018
7754,Los Angeles,Job Title,2018-02,Web Developer,Median Base Pay,80117.0,0.031,2,2018
7838,Philadelphia,Job Title,2018-02,Web Developer,Median Base Pay,71662.0,0.035,2,2018
7922,Houston,Job Title,2018-02,Web Developer,Median Base Pay,72551.0,0.035,2,2018
8006,Seattle,Job Title,2018-02,Web Developer,Median Base Pay,88043.0,0.033,2,2018
8090,San Francisco,Job Title,2018-02,Web Developer,Median Base Pay,100438.0,0.054,2,2018
8174,Chicago,Job Title,2018-02,Web Developer,Median Base Pay,76171.0,0.022,2,2018
8258,Boston,Job Title,2018-02,Web Developer,Median Base Pay,84526.0,0.033,2,2018
11114,Washington DC,Job Title,2018-05,Web Developer,Median Base Pay,87745.0,0.053,5,2018
8342,Washington DC,Job Title,2018-02,Web Developer,Median Base Pay,85979.0,0.041,2,2018
8510,Atlanta,Job Title,2018-03,Web Developer,Median Base Pay,77287.0,0.049,3,2018
19067,Houston,Job Title,2019-02,Web Developer,Median Base Pay,70147.0,0.003,2,2019
8594,New York City,Job Title,2018-03,Web Developer,Median Base Pay,85954.0,0.049,3,2018
8678,Los Angeles,Job Title,2018-03,Web Developer,Median Base Pay,80822.0,0.040,3,2018
8762,Philadelphia,Job Title,2018-03,Web Developer,Median Base Pay,72825.0,0.042,3,2018
8846,Houston,Job Title,2018-03,Web Developer,Median Base Pay,73586.0,0.053,3,2018
8930,Seattle,Job Title,2018-03,Web Developer,Median Base Pay,88237.0,0.050,3,2018
9014,San Francisco,Job Title,2018-03,Web Developer,Median Base Pay,100912.0,0.067,3,2018
9098,Chicago,Job Title,2018-03,Web Developer,Median Base Pay,76819.0,0.031,3,2018
8426,National,Job Title,2018-03,Web Developer,Median Base Pay,65553.0,0.041,3,2018
19487,Washington DC,Job Title,2019-02,Web Developer,Median Base Pay,86633.0,0.026,2,2019

In [10]:
#query user for city and job
city = input("What city are you interested in? ")
job = input("Looking at the job list, what job are you interested in? ")

What city are you interested in? Philadelphia
Looking at the job list, what job are you interested in? Research Assistant

In [11]:
search_by_city = pd.DataFrame(job_df.loc[job_df['Metro'] == city])
user_search = pd.DataFrame(search_by_city.loc[search_by_city['Job Titles'] == job])
user_search
# pd.DataFrame(job_by_city)

,Metro,Dimension Type,Month,Job Titles,Measure,Value,YoY,mnth,yr
412,Philadelphia,Job Title,2017-06,Research Assistant,Median Base Pay,31763.0,0.024,6,2017
1420,Philadelphia,Job Title,2017-07,Research Assistant,Median Base Pay,31661.0,0.018,7,2017
2344,Philadelphia,Job Title,2017-08,Research Assistant,Median Base Pay,31568.0,0.006,8,2017
3268,Philadelphia,Job Title,2017-09,Research Assistant,Median Base Pay,31580.0,0.006,9,2017
4192,Philadelphia,Job Title,2017-10,Research Assistant,Median Base Pay,31669.0,0.004,10,2017
5116,Philadelphia,Job Title,2017-11,Research Assistant,Median Base Pay,31449.0,0.001,11,2017
6040,Philadelphia,Job Title,2017-12,Research Assistant,Median Base Pay,31306.0,-0.005,12,2017
6964,Philadelphia,Job Title,2018-01,Research Assistant,Median Base Pay,31159.0,-0.013,1,2018
7888,Philadelphia,Job Title,2018-02,Research Assistant,Median Base Pay,32017.0,-0.008,2,2018
8812,Philadelphia,Job Title,2018-03,Research Assistant,Median Base Pay,31772.0,-0.014,3,2018
9736,Philadelphia,Job Title,2018-04,Research Assistant,Median Base Pay,31822.0,-0.008,4,2018
10660,Philadelphia,Job Title,2018-05,Research Assistant,Median Base Pay,31620.0,-0.003,5,2018
11584,Philadelphia,Job Title,2018-06,Research Assistant,Median Base Pay,31872.0,0.010,6,2018
12508,Philadelphia,Job Title,2018-07,Research Assistant,Median Base Pay,32079.0,0.020,7,2018
13432,Philadelphia,Job Title,2018-08,Research Assistant,Median Base Pay,31369.0,0.015,8,2018
14356,Philadelphia,Job Title,2018-09,Research Assistant,Median Base Pay,31335.0,0.010,9,2018
15280,Philadelphia,Job Title,2018-10,Research Assistant,Median Base Pay,31224.0,0.007,10,2018
16204,Philadelphia,Job Title,2018-11,Research Assistant,Median Base Pay,31221.0,0.014,11,2018
17128,Philadelphia,Job Title,2018-12,Research Assistant,Median Base Pay,31290.0,0.023,12,2018
18038,Philadelphia,Job Title,2019-01,Research Assistant,Median Base Pay,30946.0,0.027,1,2019
18962,Philadelphia,Job Title,2019-02,Research Assistant,Median Base Pay,31251.0,0.033,2,2019